@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
body {
  background-color: #00031c;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #02205bc9 !important;
}

nav .navbar-brand span.txt {
  font-size: 1.45rem !important;
  font-weight: 800 !important;
}

@media (max-width: 576px) {
  nav .navbar-brand span.txt {
    font-size: 1rem !important;
    font-weight: 800 !important;
  }
}

@media (max-width: 576px) {
  nav .navbar-brand {
    padding: .2rem 0;
  }
}

nav .navbar-toggler {
  border: none;
}

nav #icon {
  padding-top: 0.2rem;
}

nav input[type="search"]:focus-visible {
  outline: none !important;
}

.navbar-nav .nav-link.active {
  color: #ffc107 !important;
  font-weight: 600;
}

.carousel .backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(24%, rgba(0, 0, 0, 0.83153)), to(rgba(0, 72, 254, 0.79)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.83153) 24%, rgba(0, 72, 254, 0.79) 100%);
}

.carousel .backdrop h1 {
  font-size: calc(1.45rem + 4vw);
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

@media (max-width: 576px) {
  .carousel .backdrop h1 {
    font-size: calc(1.25rem + 2vw) !important;
    font-weight: 900;
    font-family: "Lato", sans-serif;
  }
}

.carousel .backdrop .btn {
  background: none !important;
}

.carousel .backdrop .btn:hover {
  background: #ffc107 !important;
  color: #0f0036 !important;
}

.latestmovie h1 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.row p {
  font-size: 0.8rem !important;
  color: #fff !important;
}

.row img {
  width: 100% !important;
  height: 78% !important;
}

.row .card {
  background-color: #02205bc0;
}

.row .card:hover {
  -webkit-box-shadow: 0px 2px 55px -15px rgba(253, 253, 253, 0.815);
          box-shadow: 0px 2px 55px -15px rgba(253, 253, 253, 0.815);
}

@media (min-width: 376px) {
  .row .card {
    width: 150px !important;
    height: 315px !important;
  }
}

@media (max-width: 576px) {
  .row .card {
    width: 130px !important;
    height: 315px !important;
    padding-bottom: 2.7rem;
  }
}

@media (max-width: 768px) {
  .row .card {
    padding-bottom: 1.9rem;
  }
}

@media (min-width: 768px) {
  .row .card {
    width: 200px !important;
    height: 300px !important;
  }
}

.row .card .card-body {
  height: 100% !important;
}

.ads {
  background-color: #000E33;
}

.bg-secondary {
  background-color: transparent !important;
  border: none;
}

.modal .modal-header {
  border-bottom: 0 !important;
}

.modal .modal-content {
  background: #003de69c;
}

.modal-body {
  width: 100% !important;
  height: 100% !important;
}

.modal-body .movie-details img {
  width: 150px !important;
  height: 220px !important;
}

.modal-body .movie-details p {
  font-size: 0.8rem !important;
}

.modal-body .movie-details p span {
  font-size: 0.9rem !important;
}
/*# sourceMappingURL=style.css.map */