@import "breakpoints";
a{
  text-decoration: none;
  
}
.row {
  p {
    font-size: 0.8rem !important;
    color: #fff !important;
  }
  img {
    width: 100% !important;
    height: 78% !important;
    // @include media-breakpoint-up(sm) {
    //     width: 170px;
    //     height: 200px;
    //   }
  }
  .card { 
    background-color:#02205bc0  ;
    &:hover{
        box-shadow:0px 2px 55px -15px rgba(253, 253, 253, 0.815);
    }
      @include media-breakpoint-up(xs) {
        width: 150px!important;
        height:315px!important;
      } 
        @include media-breakpoint-up(medium) {
        width: 200px !important;
        height:300px !important;
      }
    @include media-breakpoint-up(large) {
      //width: 270px !important;
      //height: 380px !important;
    }
   
    .card-body{
        height: 100% !important;

    }
    // }
  }
//   @include media-breakpoint-up(xs) {
//     width: 100% !important;

//   }
//   @include media-breakpoint-up(large) {
//     width: 55% !important;

//   }
//   @include media-breakpoint-up(medium) {
//     width: 90% !important;

//   }
}
